$color-primary: #e14a4a;
$color-primary-dark-1: #c84242;
$color-primary-dark-2: #7d2929;
$color-primary-dark-3: #642121;
$color-primary-dark-4: #4b1919;
// $color-primary-light-1: #fedcdc;
$color-primary-light-1: #f9dbdb;
$color-primary-light-2: #fdbaba;
$color-primary-light-3: #fda9a9;
$color-primary-light-4: #fc9797;

$color-white: #fff;

$color-black: #000;

$color-grey: #555;
$color-grey-dark: #333;

//LINE-HEIGHT
$line-height-default: 1;

//FONT-SIZE
//10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
$font-size-small-1: 1rem;
$font-size-small-2: 1.2rem;
$font-size-small-3: 1.4rem;
$font-size-default: 1.6rem;
$font-size-larger-1: 1.8rem;
$font-size-larger-2: 2rem;
$font-size-larger-3: 2.4rem;
$font-size-large-1: 3.6rem;
$font-size-large-2: 4.4rem;
$font-size-large-3: 6.2rem;

//FONT-WEIGNT
$font-weight-default: 400;
$font-weight-large-1: 500;
$font-weight-large-2: 600;
$font-weight-large-3: 700;

//BOX-SHADOW
$box-shadow-default: 0 1rem 3rem rgba($color-primary-dark-4, 0.5);
//BORDER
$border-default: 1px solid $color-primary-dark-2;
//BORDER-RADIUS
$border-radius-small: 5px;
$border-radius-big: 10rem;
$border-radius-circle: 50%;

//COLOR
$color-default: $color-primary-dark-3;
